In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('petrol_consumption.csv')

In [3]:
df.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [4]:
df.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
Petrol_tax                      48 non-null float64
Average_income                  48 non-null int64
Paved_Highways                  48 non-null int64
Population_Driver_licence(%)    48 non-null float64
Petrol_Consumption              48 non-null int64
dtypes: float64(2), int64(3)
memory usage: 2.0 KB

In [6]:
X = df[['Petrol_tax','Average_income','Paved_Highways','Population_Driver_licence(%)']]
y = df[['Petrol_Consumption']]

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train , X_test , y_train , y_test = train_test_split(X, y, test_size = 0.3 , random_state = 329)

In [9]:
from sklearn.preprocessing import PolynomialFeatures

In [10]:
X_train_poly = PolynomialFeatures(degree=2).fit_transform(X_train)
X_test_poly = PolynomialFeatures(degree=2).fit_transform(X_test)

In [11]:
from sklearn.preprocessing import StandardScaler
scaled = StandardScaler()

In [12]:
X_scaled_train = pd.DataFrame(scaled.fit_transform(X_train_poly))
X_scaled_test = pd.DataFrame(scaled.fit_transform(X_test_poly))

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
model_lr = LinearRegression().fit(X_scaled_train,y_train)

In [15]:
predict = model_lr.predict(X_scaled_test)

In [16]:
y_test['result'] = predict

C:\Users\s4056291\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
y_test.head()

    Petrol_Consumption      result
13                 508  687.789844
38                 648  743.218778
14                 566  694.198737
7                  467  381.134404
10                 580  516.060372

In [18]:
from sklearn import metrics

In [19]:
print('MAE', metrics.mean_absolute_error(y_test['Petrol_Consumption'],y_test['result']))
print('MSE', metrics.mean_squared_error(y_test['Petrol_Consumption'],y_test['result']))
print('RMSE', np.sqrt(metrics.mean_squared_error(y_test['Petrol_Consumption'],y_test['result'])))

MAE 109.0304785158935
MSE 19190.037256347463
RMSE 138.52810998619546