In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv('Smarket.csv').drop('Unnamed: 0',axis=1)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250 entries, 0 to 1249
Data columns (total 9 columns):
Year         1250 non-null int64
Lag1         1250 non-null float64
Lag2         1250 non-null float64
Lag3         1250 non-null float64
Lag4         1250 non-null float64
Lag5         1250 non-null float64
Volume       1250 non-null float64
Today        1250 non-null float64
Direction    1250 non-null object
dtypes: float64(7), int64(1), object(1)
memory usage: 88.0+ KB

In [5]:
df.head()

   Year   Lag1   Lag2   Lag3   Lag4   Lag5  Volume  Today Direction
0  2001  0.381 -0.192 -2.624 -1.055  5.010  1.1913  0.959        Up
1  2001  0.959  0.381 -0.192 -2.624 -1.055  1.2965  1.032        Up
2  2001  1.032  0.959  0.381 -0.192 -2.624  1.4112 -0.623      Down
3  2001 -0.623  1.032  0.959  0.381 -0.192  1.2760  0.614        Up
4  2001  0.614 -0.623  1.032  0.959  0.381  1.2057  0.213        Up

In [6]:
df['Direction'] = LabelEncoder().fit_transform(df['Direction'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250 entries, 0 to 1249
Data columns (total 9 columns):
Year         1250 non-null int64
Lag1         1250 non-null float64
Lag2         1250 non-null float64
Lag3         1250 non-null float64
Lag4         1250 non-null float64
Lag5         1250 non-null float64
Volume       1250 non-null float64
Today        1250 non-null float64
Direction    1250 non-null int32
dtypes: float64(7), int32(1), int64(1)
memory usage: 83.1 KB

In [8]:
df.head()

   Year   Lag1   Lag2   Lag3   Lag4   Lag5  Volume  Today  Direction
0  2001  0.381 -0.192 -2.624 -1.055  5.010  1.1913  0.959          1
1  2001  0.959  0.381 -0.192 -2.624 -1.055  1.2965  1.032          1
2  2001  1.032  0.959  0.381 -0.192 -2.624  1.4112 -0.623          0
3  2001 -0.623  1.032  0.959  0.381 -0.192  1.2760  0.614          1
4  2001  0.614 -0.623  1.032  0.959  0.381  1.2057  0.213          1