In [4]:
import pandas as pd
import numpy as np

In [12]:
n = 1000000
data = pd.DataFrame(
    {
        'A' : np.random.randn(n),
        'B' : 1.5 + 2.5 * np.random.randn(n),
        'C' : np.random.uniform(5, 32, n),
        'D' : np.random.randint(2, size=n)
    }
)

In [13]:
data.head()

          A         B          C  D
0 -0.661825  3.981527  16.786125  0
1  0.554591 -1.209179  30.325142  1
2  0.240133  5.060703   6.596773  0
3  0.326755  2.018972  22.666322  0
4 -0.875840  2.629733  31.626629  0